@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0px;
    padding: 0px;
  }

  

  

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



#profile_img {
  width: 88px;
  height: 88px;
}

.anne {
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}

.container-links {
  display: flex;
  justify-content: center;
}

.link {
  background-color: #f5f5f5;
  text-decoration: none;
  color: black;
  font-family: 'Inter', sans-serif;
  font-size: 1.0rem;
  padding: 28px 0px;
  transition: 0.1s;
  margin-top: 1rem;
  width: 1152px;
  text-align: center;
  border-radius: 10px;
  
}


.link:hover {
  transform: scale(1.05);
  transition: 0.1s;
  border: 1px solid #D0D5DD;
  background-color: #D0D5DD;
}

.link:active {
  transform: scale(1.05);
  transition: 0.1s;
  border: 1px solid #98A2B3;
  background-color: #98A2B3;

}


.slack-giticons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 45px;
}

.slackicon {
  margin-right: 6px;
}
.github {
  margin-left: 6px;
}

.footer {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem 0rem;
}


@media  only screen and (max-width: 375px){
  .avatar{
    display: flex;
    float: right;
  }

  .nextIcon{
    display: none;
    visibility: hidden;
  }

  .footer {
    flex-direction: column;
    width: 100%;


    
  }

}
  


@media only screen and (max-width: 1200px) and (min-width: 380px){
  .nextIcon {
    display: flex;
    float: right;
  }
  .avatar {
    display: none;
    visibility: hidden;
  }
}







 